# Update these with your Supabase details from your project settings > API
# https://app.supabase.com/project/_/settings/api
NEXT_PUBLIC_SUPABASE_URL=https://ldtcbevoeimkmzsdtcbm.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxkdGNiZXZvZWlta216c2R0Y2JtIiwicm9sZSI6ImFub24iLCJpYXQiOjE2OTk2MTYwNzYsImV4cCI6MjAxNTE5MjA3Nn0.DomqRdLw9rP9GQVA1MUPkV_Nm92NTvlq9dpsAKzWJrM
