/* Main Container */
.main-container {
    width: 1440px;
    height: 954px;
    position: relative;
    background: #F9F9FA;
}

/* Header */
.main-container .header-container {
    width: 1440px;
    height: 70px;
    left: 0;
    top: 0;
    position: absolute;
}

/* Logo */
.main-container .header-container .logo-container {
    width: 134px;
    height: 49.75px;
    left: 53px;
    top: 12.25px;
    position: absolute;
    display: flex;
    align-items: center;
}

.main-container .header-container .logo-container img {
    width: 43px;
    height: 43px;
    margin-right: 8px;
}

.main-container .header-container .logo-container div {
    color: #545454;
    font-size: 30px;
    font-family: Poppins;
    font-weight: 600;
}

/* Main Content */
.main-container .main-content {
    width: 548px;
    height: 529px;
    left: 446px;
    top: 261px;
    position: absolute;
}

.main-container .main-content .background-container {
    width: 541px;
    height: 552px;
    left: 7px;
    top: 10px;
    position: absolute;
    background: white;
    border-radius: 15px;
}

.main-container .main-content .welcome-text {
    left: 192px;
    top: 148px;
    position: absolute;
    color: #295F9A;
    font-size: 35px;
    font-family: Poppins;
    font-weight: 700;
}

/* Form */

.main-container .main-content .form-container {
    width: 450px;
    height: 100.12px;
    left: 56px;
    top: 130px;
    position: absolute;
    display: flex;
    flex-direction: column;
}

.main-container .main-content .form-container > div {
    width: 450px;
    height: 1.82px;
    background: #DFDFDF;
    margin-bottom: 22.73px;
}
.main-container .main-content .form-container > div {
    width: 450px;
    height: 1.82px;
    background: #DFDFDF;
    margin-bottom: 98.30px;
}
/* .main-container .main-content .form-container > div {
    width: 90px;
    color: #CFCFCF;
    font-size: 14;
    font-family: Poppins;
    font-weight: 500;
} */


.main-container .main-content .form-container input {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-right: 0.5rem;
    border-width: 1px ;
    background-color: inherit;
    margin-bottom: 1.5rem;
}

.main-container .main-content .form-container > div:last-child {
    margin-bottom: 0;
}

/* Image */
.main-container .main-content .image-container {
    padding-top: 55px;
    padding-left: 133px;
    left: 105px;
    top: 2px;
    position: absolute;
    justify-content: flex-end;
    align-items: center;
    display: inline-flex;
}

.main-container .main-content .image-container img {
    width: 93px;
    height: 94px;
}

/* Login Button */
.main-container .main-content .login-button {
    width: 450px;
    padding: 10px 198px 10px 203px;
    left: 56px;
    top: 450px;
    position: absolute;
    background: rgb(71, 140, 202);
    box-shadow: rgba(0, 0, 0, 0.15) 4px 5px 30px;
    border-radius: 18px;
    justify-content: flex-end;
    align-items: center;
    display: inline-flex;
    color: white;
    font-size: 16px;
    font-family: Poppins;
    font-weight: 600;
} 